pkgbase = reth
	pkgdesc = A fast implementation of the Ethereum protocol in Rust
	pkgver = v1.9.2
	pkgrel = 2
	url = https://github.com/paradigmxyz/reth
	arch = x86_64
	license = MIT
	license = APACHE
	makedepends = git
	makedepends = cargo
	makedepends = clang
	provides = reth
	source = git+https://github.com/paradigmxyz/reth.git#tag=v1.9.2
	sha512sums = SKIP

pkgname = reth
